.auth-container{
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;
}

.auth{
    width: 40%;
    background-color: #F3F4ED;
    box-shadow: 0 0 8px 3px #2e3730;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2e3730;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.auth h1{
    width: 70%;
    font-size: 2em;
    margin-bottom: 2em;
    font-weight:400;
    color:#2e3730b9;
}

.login-form p{
    color: rgba(226, 41, 41, 0.695);
}
.auth .login-form 
{

    width: 70%;
    display:  flex;
    flex-direction: column;
}
.auth-container.validate{
    width: 100%;

}
.validate h1{
    width: 40%;
    font-size: 1.7em;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #2e373084;

}
.validate .login-form {
    width: 40%;

    align-items: center;
}
.auth .login-form input{
    font-size: 1em;
    
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.322);
}
.auth .login-form input:focus{
    outline: 2px solid rgba(162, 162, 232, 0.278);
}
.auth .login-form img{
    cursor: pointer;
}
.auth .login-form button{
    width: 10em;
    padding: 10px 5px;
    outline: none;
    border: none;
    background-color: #42855B;;
    color: white;
    font-size: large;
    margin-top: 2em;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.17s ease-in-out;
    margin-bottom: 15px;
}

.auth .login-form button:hover{
    background-color: #90B77D;
}

.auth .login-form a{
    color: rgba(72, 146, 211, 0.673);
    text-decoration: underline;
}

.validate .login-form button{
    border:1px solid #2e373084;
    background-color: transparent;
    color: #2e373084;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.138);
   

}
.validate .login-form button:hover{
    background-color: #2e373084;
}

.auth .login-form button:disabled {
    border: 1px solid #4e4e4e;
    background-color: #9ea19f;
    color:#4e4e4e;
}
.auth .login-form input{
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    width: 90%;
}

.wrong{
    color: rgba(251, 83, 83, 0.783);
    
}


@media only screen and (max-width: 1280px) {

    .auth{
        width: 100%;
        height: 100%;
        
    }
    .auth h1{
        font-size: 1.7em;
    }
    .validate {
        height: 100vh;

  
    }

    .validate h1{
        width: 40%;
        text-align: left;

        font-size: 1.3em;

    }
}