.minimal-header {
    width: 100%;
    min-height: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(148, 148, 148, 0.33);
    box-shadow: 1px 1px 3px 1px rgba(197, 194, 194, 0.368) ; 
    padding: 5px 0;

}

.minimal-header .auth-btn a {
    background-color: #537FE7;
    padding: 0.7em 1em;
    border-radius: 1px;
    margin: 1em;
}




.minimal-header .search-bar {
    display: flex;
    width: 70%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minimal-header .search-bar .search input {
    height: 90%;
    border: 1px solid rgba(140, 139, 139, 0.508);
}

.minimal-header .search-bar .search button {
    height: 90%;
    border: 1px solid rgba(140, 139, 139, 0.508);
}

.header {
    width: 100%;
    height: 36em;
    background-color: #283739;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: -8;
    background-repeat: no-repeat;
    background-size: cover;


}

.header-content {
    height: 50%;
    width: 90%;
    display: flex;
    z-index: 0;
    margin-top: 1em;
    /* background-color: red; */
    justify-content: space-between;
    align-self: center;
    /* z-index: -1  ; */
}

.logo {
    width: 12em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
}
.logo  img {
    width: 100%;;
}


.header-content .content {
    height: 50%;
    width: 50%;
    margin-top: 1em;
    font-size: 1.0em;
    display: flex;
    justify-content: space-between;
}

.links {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.links a {
    font-size: 1.1em;
    margin: 5px;
    margin-top: 0;
    margin-left: 10px;
}

.links a:hover {
    text-decoration: underline;
}


.header-content .content .auth-btn a {
    height: 20px;
    background-color: var(--plat);
    color: white;

    padding: 0.7em 1.6em;
    border-radius: 2px;
    transition: all 0.17s ease-in;
    margin: 5px;
}

.header-content .content .auth-btn a:hover {
    background-color: var(--light-plat);

}
a {
    text-decoration: none;
    color: white;
}



.profile p {
    color: rgba(246, 246, 246, 0.906);
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.profile p::before {
    content: '@';
}

.search-bar {
    height: 40%;
    width: 80%;
    align-self: center;

}

.search-bar p {
    width: 50%;
    color: white;
    font-size: 1.9em;
}

.search-bar .search {
    width: 60%;
    height: 3em;
    display: flex;
    align-items: center;


}

.search-bar .search input {
    height: 100%;
    padding: 0px;
    padding-left: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 80%;
    border: none;
    z-index: 1;
    font-size: 1em;

    outline: none;
    transition: all 0.17s ease-in;
}

.search-bar .search input:focus {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px
}

.search-bar .search button {
    height: 100%;
    width: 15%;
    font-size: 1em;
    padding: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--plat);
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: all 0.17s ease-in;

}

.search-bar .search button:hover {
    background-color: var(--light-plat);
}

.header .black-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 0;
}

.datalist {
    width: 43%;
    display: flex;
    flex-direction: column;
    max-height: 8em;
    /* align-items: center; */
    overflow-y: auto;
    overflow-x: hidden;
}

.datalist input {
    width: 98%;
    padding: 10px;
    padding-right: 0px;
    font-size: 1em;
    outline: none;
    border: none;
    z-index: 1;
    cursor: pointer;

}

.datalist input:hover {
    background-color: rgb(207, 230, 208);
}

.header-content .menu {
    width: 2.5em;
    height: 2.5em;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}

.header-content .menu div {
    background-color: #537FE7;
    box-shadow: 0px 0px 4px 0px black;
    width: 100%;
    height: 15%;
    border-radius: 3px;
}

.rem {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .header{
        width: 100%;
        margin:0;
    }
    .profile p {
        font-size: 0.9em;
    }

    .datalist {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        width: 100%;
        height: 27em;
        max-height: fit-content;
        min-height: auto;
        padding-bottom: 5px;
        background-size: cover;

    }


    .header-content .content .links {
        display: none;
    }

    .content-res {
        height: 10%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .content-res .links {
        /* flex-direction: column; */
        width: 80%;
        margin: auto;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .content-res .links a {
        margin: 15px;

    }

    .header-content .logo {
        height: 3.8em;


    }

    .header-content .menu {
        display: flex;
    }

    .search-bar {
        /* display: none; */
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;

    }

    .search-bar p {
        font-size: 1.7em;
        /* display: none; */
        align-self: left;
        width: 80%;

    }

    .search-bar .search {
        width: 90%;
        height: 7em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;

    }

    .search-bar .search input {
        width: 90%;
        border-radius: 0;
        margin: 5px;
        height: 80%;
    }

    .search-bar .search button {
        width: 90%;
        border: 0px 0px;
        border-radius: 2px;
        height: 70%;

    }


    .del {
        display: none;

    }
}

@media only screen and (max-width: 720px) {
    .search-bar p {
        font-size: 1.4em;
    }
    .search .search button{
        width: 90%;
        border: 0px 0px;
        border-radius: 2px;
        height: 70%;
    }

    .auth-btn a {
        font-size: smaller;
    }

    .profile p {
        font-size: 0.76em;
    }

    .header-content .menu {
        width: 2em;
        height: 2em;
    }

    .header-content {
        width: 95%;
        /* margin:0 auto; */

    }

    .content-res .links a {
        font-size: large;

    }
}