.view-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    margin-top: 4em;
}

.view-container .right {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2%;
}

.view-container .right button, .view-container .right a{
    width: auto;
    background-color: #42855B;
    border:none;
    color: white;
    padding: 1em 2em;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.17s ease-in-out;
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
}

.view-container .right button:hover,.view-container .right a:hover{
    background-color: #90B77D;
}

.view-container .right .row{
    border-bottom: 1px solid rgba(82, 81, 81, 0.15);
    text-align: left;
    height: 4em;
  
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.view-container .right .row img{
    margin-right: 1em;
}
.view-container .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.view-container .left .img{
    position: relative;
    width: 100%;
    height: 25em;

}
.view-container .left .img .heart-btn{
    position: absolute;
    top: 3%;
    right: 3%;
    float: right;
    cursor: pointer;
}
.view-container .left .img .image{
    width: 100%;
    height: 100%;
    transition: all 1.1s ease;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    background-position: 50%;
    background-size: cover;
}

.view-container .left .list{
    width: 100%;
    display: flex;

}
.view-container .left .ind{
    background-color: rgb(115, 113, 113);
    padding: 4px 10px;
    border-radius: 4em;
    color: white;
}
.view-container .left .list img{
    width: 6em;
    height: 4em;
    opacity: 0.5;
    border-radius: 3px;
    transition: all 0.2s ease-in;
    
    margin: 2px;
}

.view-container .right  .decription {
    width: 100%;
    color: #3f3f3f;
    margin-top: 2em;
    margin-bottom: 2em;

    border: 1px  solid rgba(79, 75, 75, 0.122);

    flex-direction: column;
}
.view-container .right  .decription  h2{
    margin: 1em auto;
    width: 80%;
}
.view-container .right  .decription  p{
    color: #5f5f5f;
    padding: 5px;
    font-size: small;
    width: 90%;
    height: auto;
    margin: 2em auto;
    border: 1px  solid rgba(113, 112, 112, 0.144);
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.flex .danger{
    background-color: tomato !important;
}
.flex .danger:hover{
    background-color: rgb(240, 150, 134) !important;

}

.flex .warning{
    background-color: orange !important;
}