.view-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.slider {
    position: relative;
    width: 60%;
    height: 25em;
    margin-top: 2em;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.slider img {
    position: absolute;
    transition: all 1.1s ease-in;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.521);
   
}