.discover{
    width: 70%;
    height: 26em;
    margin: auto;
    border-radius: 5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    transition: all  0.47s ease-in-out;
    box-shadow: 0px 0px 3px 0px black;
}
.discover:hover{
 background-size: 100% 100%;

}
.discover .content{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-left: 40px;
    color: white;
    z-index: 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.discover .content a{
    text-decoration: none;
    text-align: center;
    width: 8em;
    color: white;
    font-size: 1.2em;
    outline: none;
    border:none;
    border-radius: 5px;
    padding:10px 10px;
    background-color: green;
    cursor: pointer;
    z-index: 3;
}

.discover .content a:hover{
    background-color: rgb(8, 180, 8);
}
.discover h1{
    z-index: 3;
    font-size: 2.2em;

}
.discover p{
    z-index: 3;
    font-size: large;

}

.discover .black-shadow{
    opacity: 0.7;
    position: absolute;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.027);
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0, 0.481), rgba(113, 113, 113, 0.122));
    z-index: 2;
 border-radius: inherit;

}